{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!
{% endblock %}

{% block body %}
	<div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
		<div
			class="text-center">
			<!--<div {{ react_component('Navbar', { 'fullName': 'CinéTchatStudio' } ) }}></div>-->

			<div {{ react_component('NavBar') }}></div>
			<div {{ react_component('Accueil') }}></div>
			<!--<div {{ react_component('Detail') }}></div>-->
			<!--<div {{ react_component('Ppersonnage') }}></div>-->
			<!--<div {{ react_component('DétailsPersonnalité') }}> </div>-->
			<!--<div {{ react_component('Contact') }}> </div>-->
			<!--<div {{ react_component('Critique') }}> </div>-->
			<!--<div {{ react_component('Inscription') }}> </div>-->
			<!--<div {{ react_component('Profil') }}> </div>-->
			<!--<div {{ react_component('Footer1') }}></div>--><div {{ react_component('Footer') }}> </div>

			<!--<p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">Mis en avant de la Communauté</p>
																																																																																																																																																																																																																																																																																																																																																																																																																<p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">Activités du site</p>-->
		</div>
	</div>
{% endblock %}
